header {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  vertical-align: middle;
}

.logo {
  height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 18px;
}
