.example-spacer {
  flex: 1 1 auto;
}

.logo {
  height: 48px;
}

.header {
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: larger;
}

* {
  background-color: antiquewhite;
}
