<mat-toolbar>
  <img [routerLink]="['']" class="logo header" src="assets/logo.png">
  <span [routerLink]="['']" class="header">Rock Paper Scissors</span>
  <span class="example-spacer"></span>
  <button [disabled]="userService.loggedUser == undefined" [routerLink]="['/statistics']" mat-icon-button
          aria-label="Button to get user statistics">
    <mat-icon>leaderboard</mat-icon>
  </button>
  <button [disabled]="userService.loggedUser == undefined" [routerLink]="['/login']" mat-icon-button
          aria-label="Button to logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
