<div class="gamebox" *ngIf="playGame && !gameService.loading">
  <div>
    <h2>Play Rock Paper Scissors!</h2>
  </div>
  <div>
    <h5>Choose one of the symbols to play</h5>
  </div>
  <div>
    <mat-button-toggle-group [(ngModel)]="playerChoice" name="symbolSelector" aria-label="Symbol Selector">
      <mat-button-toggle value="ROCK" mat-icon-button aria-label="Rock">
        <mat-icon>filter_hdr</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="PAPER" mat-icon-button aria-label="Paper">
        <mat-icon>note</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="SCISSORS" mat-icon-button aria-label="Scissors">
        <mat-icon>content_cut</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div style="margin-top: 20px">
    <button mat-raised-button [disabled]="playerChoice == undefined"
            (click)="play()">Play
    </button>
  </div>
  <mat-divider style="margin-top: 40px"></mat-divider>
  <div class="rulebox">
    <h4 style="color: gray">Rules:</h4>
    <p style="color: gray">Rocks beats Scissors<br>Scissors beats Paper<br>Paper beats Rock</p>
  </div>
</div>
<div class="gamebox">
  <div *ngIf="!playGame && !gameService.loading">
    <h2>{{gameResult}}</h2>
    <h4>Computer chose {{computerChoice}}</h4>
    <h4>You chose {{playerChoice}}</h4>
    <button mat-raised-button (click)="resetGame()">Play Again</button>
  </div>
</div>
<div *ngIf="userService.loggedUser == undefined" class="gamebox">
  <h4 style="color: red">No User Logged in. Thus no statistics will persisted.</h4>
</div>
<div class="centered-div" *ngIf="gameService.loading">
  <mat-spinner></mat-spinner>
</div>

